doctype html
html
    head
        meta(charset='utf-8')
        title Login Fail
        style
            include style.css
    body
        div 로그인 실패!
        div
            button(type='button' class='form_button' onclick="location.href='/login'") 로그인으로 돌아가기