doctype html
html
    head
        meta(charset='utf-8')
        title Logout Fail
        style
            include style.css
    body
        center
            img(src='/logo_transparent_cut.png' class='form_mini_logo' style='cursor:pointer;' onclick="location.href='/main'")
            h2 로그아웃 실패
            hr
            div(style='height: 10px;')
            div
                button(type='button' class='form_button' onclick="location.href='/logout'") 다시 로그아웃 시도하기