doctype html
html
    head
        meta(charset='utf-8')
        title Logout Fail
        style
            include style.css
    body
        div 로그아웃 실패!
        div
            button(type='button' class='form_button' onclick="location.href='/logout'") 다시 로그아웃 시도하기