doctype html
html
    head
        meta(charset='utf-8')
        title My Reviews Fail
        style
            include style.css
    body
        center
            img(src='/logo_transparent_cut.png' class='form_mini_logo' style='cursor:pointer;' onclick="location.href='/main'")
            h2 내 후기 보기 실패
            hr
            form(name='my_reviews_form' action='/myReviews' method='get')
            -//div 내 후기 보기 실패..
            div(style='height: 10px;')
            div 내 후기 보기 실패!