doctype html
html
    head
        meta(charset='utf-8')
        title No Search Result
        style
            include style.css
    body
        center
            img(src='/logo_transparent_cut.png' class='form_mini_logo' style='cursor:pointer;' onclick="location.href='/main'")
            h2 후기 검색
            hr
            form(name='search_form' action='/searchAfter' method='post')
                div(class='form_item_name') 장소명
                    input(type='text' name='place' class='form_input' placeholder='관광지명 (ex)경복궁')
                    input(type='submit' class='form_search_button' value='검색' style='cursor:pointer;')
            div(style='height: 10px;')
            div 해당 검색 결과가 없습니다.