doctype html
html
    head
        meta(charset='utf-8')
        title Search
        style
            include style.css
    body
        h2 검색
        hr
        form(action='/searchAfter' method='post')
            div 장소명
                input(type='text' name='place' placeholder='관광지명 (ex)경복궁')
                input(type='submit' class='form_search_button' value='검색')