doctype html
html
    head
        meta(charset='utf-8')
        title Search Fail
        style
            include style.css
    body
        div 검색 실패!
        div
            button(type='button' class='form_button' onclick="location.href='/search'") 검색 페이지로 돌아가기