doctype html
html
    head
        meta(charset='utf-8')
        title Search
        style
            include style.css
        script(src='/search.js')
    body
        div search_page
        form(name='search_form' action='/process/search' method='get')
            div 시도
                input(type='text' id='sido' placeholder='시도 (ex)서울특별시')
            div 시도
                input(type='text' id='gungu' placeholder='군구 (ex)종로구')
            div 시도
                input(type='text' id='res_nm' placeholder='관광지명 (ex)경복궁')
                button(type='button' class='form_search_button' onclick='goSearchPage()') 검색