@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
    font-family: 'Do Hyeon', sans-serif;
}

.form_logo {
    width: 30%;
}

.form_mini_logo {
    height: 100px;
    text-align: center;
}

.form_button {
    width: 50%; 
    height: 50px; 
    background-color: #1a5d94; 
    border: 1px;
    border-radius: 3px;
    color: white; 
    font-size: 19px;
}

.form_search_button {
    width: 5%;
    height: 35px;
    background-color: #1a5d94;
    border: 1px;
    border-radius: 3px;
    color: white;
    font-size: 17px; 
    font-weight: 500;
}

.form_upload_button {
    height: 30px;
    background-color: #1a5d94;
    border: 1px;
    border-radius: 3px;
    color: white;
    font-size: 17px; 
    font-weight: 500;
}

.form_login_button {
    color: red;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 45%;
    text-align: center;
}

.form_update_reviews_button {
    width: 5%;
    height: 30px;
    background-color: #1a5d94;
    border: 1px;
    border-radius: 3px;
    color: white;
    font-size: 15px; 
    font-weight: 500;
}

.form_item_name {
    font-size: 17px;
    font-weight: bold;
}

.form_search_place_name {
    font-size: 20px;
    font-weight: bold;
}

.form_search_place_content {
    font-size: 17px;
    color: rgb(73, 70, 70);
}

.form_search_place_email {
    font-size: 17px;
    color: #2F4F4F;
}

.form_text_alert {
    height: 20px;
}

.form_text_alert_padding {
    padding-bottom: 10px;
}

.form_input {
    width: 50%;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
}

.form_search_place_name_input {
    width: 70%;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
}

.form_search_place_content_input {
    width: 70%;
    height: 150px;
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
}

.box {
    border: 1px solid;
    padding: 10px;
}